* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #e74c3c;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    min-height: 100vh;
}

.navbar {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 8px 15px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.calendar-container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.day {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
    font-size: 1em;
}

.day-header {
    background-color: rgba(255, 255, 255, 0.51);
    color: #222;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
    transition: background-color 0.3s;
}

.day:hover {
    background-color: #ffeb3b;
    color: #333;
}

.sunday {
    background-color: rgba(255, 179, 71, 0.5); /* Világos narancs szín a vasárnapnak */
    color: white;
}

.today {
    background-color: #2196F3;
    color: white;
}

.tomato {
    color: #ff6347; /* Tomaten szín (piros) */
    font-size: 1.2em; /* Paradicsom méretének növelése */
    margin: 3px; /* Apró távolság a paradicsomok között */
}

.other-month {
    color: rgba(34, 34, 34, 0.34);
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.navigation button {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s, color 0.2s;
    font-size: 2.3em;
}

.navigation button:hover {
    color: #c3c3c3;
    transition: transform 0.2s, color 0.2s;
}

.navigation button:focus {
    color: white;
    outline: none;
    box-shadow: none;
}

#current-month {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    flex: 1;
}