* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #e74c3c;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
    height: auto;
    overflow: auto;
    text-align: center;
    transition: background-color 0.3s;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

.pomodoro-mode {
    background-color: #e74c3c;
}

.short-break-mode {
    background-color: #3498db;
}

.long-break-mode {
    background-color: #2ecc71;
}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    transition: background-color 0.3s;
    z-index: 10;
}

.pomodoro-navbar {
    background-color: #a52c24;
}

.short-break-navbar {
    background-color: #2c7b9a;
}

.long-break-navbar {
    background-color: #27ae60;
}

.nav-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-buttons a,
.nav-buttons button,
.mode-switch a {
    background: rgba(255, 255, 255, 0.2);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    height: 35px;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; /* Eltávolítja az aláhúzást */
    transition: background 0.3s;
}

.mode-switch {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.mode-switch a.active {
    border: 2px solid white;
}

.nav-buttons a:hover,
.nav-buttons button:hover,
.mode-switch a:hover {
    background: rgba(255, 255, 255, 0.3);
}

.timer-display {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 700px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

#timeDisplay {
    font-size: 10em;
    margin-bottom: 15px;
    font-weight: bold;
}

button {
    background-color: white;
    color: #333;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}

button:hover {
    background-color: #ddd;
}

#spotifyPlayer {
    border-radius: 12px;
    width: 350px;
    height: 80px;
}

.spotify-player {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
    max-width: 350px;
}

.task-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 700px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.task-container h3 {
    margin-bottom: 15px;
    font-size: 1.2em;
    color: white;
}

.task {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

#toggleButton {
    margin: 20px 0;
}

#skipButton {
    font-size: 2.3em;
    border: none;
    box-shadow: none;
}

#skipButton:hover {
    background-color: rgba(0, 0, 0, 0);
}

#skipButton:focus {
    outline: none;
    box-shadow: none;
}

button, .nav-buttons a, .mode-switch a {
    outline: none;
    box-shadow: none;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    transition: background 0.3s;
}

button:focus, .nav-buttons a:focus, .mode-switch a:focus {
    outline: none;
    box-shadow: none;
}

button:hover, .nav-buttons a:hover, .mode-switch a:hover {
    background: rgba(255, 255, 255, 0.3);
}

.settings-modal {
    display: none;
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.settings-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    max-height: 80vh;
    overflow-y: auto;
    color: #333;
    text-align: left;
}

.settings-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.settings-content h2 {
    margin-top: 0;
}

.settings-section h3 {
    color: #e74c3c;
    margin-top: 15px;
}

.settings-section label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.save-button,
#playAlertButton {
    display: block;
    justify-content: center;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #ffffff;
    background-color: #c63737;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-button:hover,
#playAlertButton:hover {
    background-color: #a52c2c;
}

#playAlertButton:active {
    background-color: #388e3c;
}


#dropdownMenu a {
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: left;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    text-align: left;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: black;
    padding: 3px 0;
}

.dropdown a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    transition: background-color 0.2s, color 0.2s;
}

#dropdownMenu a:hover {
    background-color: #ccc;
}

button, .nav-buttons a, .mode-switch a {
    outline: none;
    box-shadow: none;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    transition: background 0.3s;
}

button:focus, .nav-buttons a:focus, .mode-switch a:focus {
    outline: none;
    box-shadow: none;
}

button:hover, .nav-buttons a:hover, .mode-switch a:hover {
    background: rgba(255, 255, 255, 0.3);
}

.nav-buttons {
    position: relative;
}